.level {
    background-color: rgb;
}

.back {
    background-color: lightgreen;
    font-family: Verdana;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 5px lightblue;
}

a:focus {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.back:hover {
    background-color: lightgrey;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#flag-image {
    width: 450px;
    height: 300px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105vh;
}

button {
    background-color: lightgreen;
    font-family: Verdana;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    border: 5px solid black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    margin-right: 20px;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
    box-shadow: 10px 10px 5px lightblue;
}