.header {
    width: 98.5%;
    padding: 5px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-family: Verdana;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    line-height: 28px;
    border-radius: 20px;
}

.company-logo {
    font-size: 40px;
}

.header-right {
    float: right;
    font-family: Verdana;
    font-size: 15px;
}

.header-right a:active {
    background-color: #ddd;
    color: black;
    padding: 12px;
    align-items: center;
    align-content: center;
}

/* 
#ticker {
    padding: 10px;
    align-content: center;
    justify-content: center;
} */

.select-game {
    display: table;
    margin: 10px auto 0px auto;
    padding: 15px;
    font-size: 24px;
    font-family: Verdana;
    background-color: #999999;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
}

.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}

.game {
    float: left;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 280px;
    padding: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.world-images {
    width: 250px;
    height: 250px;
    border: 5px solid white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px lightblue;
}

.projTxt {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.projName {
    font-size: 2.0rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}